# .gitignore

# specify files and directories that should be ignored by Git

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# macOS
.DS_Store

# Editor/IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment configuration files
.env