/* 
    style.css

    Styles for the Botanica website.
    Contains the main styling rules for the website layout and components.

    Author: Leonard Lau
    Last Updated: 30/12/2023
*/

/* Styling for html and body */
html, body {
    font-family: "Segoe UI";
    background-color: rgb(27 29 30);
    color: white;
    margin: 0; /* Remove default margin to ensure full-width */
}

/* Styling for links */
a {
    color: inherit; /* Inherit color from the parent (normal text color) */
    text-decoration: underline; /* Underline the link */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Styling for when hovering over links */
a:hover {
    color: rgb(16, 117, 60); /* Change link color to green on hover */
}

/* Additional styles for the regular header */
.Header {
    /* Add styles specific to the regular header, including the DM Serif Display font */
    font-family: 'DM Serif Display', serif;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0; /* Remove margin to ensure full-width */
    /* The following are used so that the Botanica text and the logo are centered together */
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

/* Styling for the Botanica logo text */ 
.logo-text {
    font-size: 3em; /* Twice the font size of the parent element (body) */
    margin-top: 0.1em; /* Adjust top margin */
    margin-bottom: 0.1em;  /* Adjust bottom margin */
}

/* Styling for the icon logo */
.logo-icon {
    width: 2.6em; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 0.3em; /* Adjust the spacing between the logo and text */
    vertical-align: text-bottom; /* vertically align the icon more with the text */
}

/* styling for the regular navigation bar */
.navigation-box {
    padding: 0.6em;
    margin: 0; /* Remove margin to ensure full-width */
    padding-top: 0; /* Remove padding at the top */
}

/* styling for both the regular header and the navigation bar */
.Header,
.navigation-box {
    text-align: center;
    background-color: rgb(16, 117, 60);
}

/* Styling for links in the regular header and navigation bar */
.Header a,
.minimised-header a,
.navigation-box a {
    /* Remove underline and color change for links in header and navigation */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from the parent (normal text color) */
}

/* Styling for when hovering over links in the navigation bar */
.navigation-box a:hover {
    /* On hover, do not change link colour*/
    color: inherit; /* Inherit color from the parent (normal text color) */
    text-decoration: underline; /* Underline the link */
}

/* 
    Styles for the regular header when the page is scrolled down.
    Applied when the 'scrolled' class is present on the body, set by the header-scroll.js script
*/
body.scrolled .Header {
    display: none; /* Hide the regular header when the user scrolls down */
}

/* Additional styles for the minimised header bar */
.minimised-header {
    font-family: 'DM Serif Display', serif;
    position: fixed; /* Fix the header at the top of the viewport */
    top: 0; /* Position it at the top */
    left: 0; /* Align it to the left edge */
    width: 100%; /* Make it full-width */
    height: 4em; /* Adjust the height of the thin green bar */
    background-color: rgb(16, 117, 60);
    opacity: 0; /* Start with zero opacity */
    visibility: hidden; /* Start hidden */
    display: flex; /* Use flexbox for layout */
    flex-wrap: nowrap; /* Prevent wrapping of flex items to keep them in a single line */
    align-items: center; /* Center items vertically */
    /* The following line determines the transition for the bar disappearing */
    /*transition: opacity 0.0s ease, visibility 0s linear 0.0s; */
}

/* Styling for links in the minimised header */
.minimised-header a {
    text-decoration: none; /* remove the underline */
}

/* Styling for hovering over links in the minimised header */
.minimised-header a:hover {
    color: inherit; /* Do not change colour */
}

/* Styling for the logo (text and icon) in the minimized header */
.minimised-logo {
    font-size: 0.8em;
    /* The following are used so that the Botanica text and the logo are centered together */
    flex-grow: 1; /* take up rest of line */
    text-align: center; /* centre text */
    /* The menu icon has 0.5 margin and fontsize 2, so we offset by that to properly centre */
    margin-left: -2.5em;
}

/* Styling for the menu icon (three horizontal bars) */
.menu-icon {
    font-size: 2em;
    margin-left: 0.5em;
    cursor: pointer; /* Add cursor pointer for indicating it's clickable */
    z-index: 1; /* Set z-index to 1 to put it above minimized-logo */
}

/* Show the minimised header bar when the user scrolls down */
body.scrolled .minimised-header {
    opacity: 1; /* Fade in by changing opacity to 1 */
    visibility: visible; /* Make it visible */
    /* the below transition makes the bar fade in when it appears */
    transition: opacity 0.2s ease, visibility 0s linear; /* Add a smooth transition for opacity */
}

/* Styling for the menu bar */
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20em; /* Adjust the width as needed */
    height: 100%; /* Take up the full height of the viewport */
    background-color: rgb(16, 117, 60);
    visibility: hidden; /* Initially hidden */
}

/* Styling to make the menu bar visible when toggled */
.menu-bar.active {
    visibility: visible; /* Make it visible */
    transform: translateX(0); /* Move on-screen */
}

.footer-box {
    background-color: rgb(16, 117, 60);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0; /* Remove margin to ensure full-width */
}