/* 
    style.css

    Styles for the Botanica website.
    Contains the main styling rules for the website layout and components.

    Author: Leonard Lau
    Last Updated: 29/12/2023
*/

/* Styling for html and body */
html, body {
    font-family: "Segoe UI";
    background-color: rgb(27 29 30);
    color: white;
    margin: 0; /* Remove default margin to ensure full-width */
}

/* Additional styles for the header */
body.scrolled .Header {
    /* Hide the regular header when the user scrolls down */
    display: none;
}

/* Styling for links */
a {
    color: inherit; /* Inherit color from the parent (normal text color) */
    text-decoration: underline; /* Underline the link */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Styling for when hovering over links */
a:hover {
    color: rgb(16, 117, 60); /* Change link color to green on hover */
}

/* Styling for h1 headers */ 
h1 {
    font-size: 3em; /* Twice the font size of the parent element (body) */
    margin-top: 0.1em; /* Adjust top margin */
    margin-bottom: 0.1em;  /* Adjust bottom margin */
}

/* Additional styles for the header */
.Header {
    /* Add styles specific to the header, including the DM Serif Display font */
    font-family: 'DM Serif Display', serif;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0; /* Remove margin to ensure full-width */
}

/* styling for the navigation bar */
.navigation-box {
    padding: 0.6em;
    margin: 0; /* Remove margin to ensure full-width */
}

/* styling for both header and navigation bar */
.Header,
.navigation-box {
    text-align: center;
    background-color: rgb(16, 117, 60);
}

/* Styling for links in the header and navigation bar */
.Header a,
.navigation-box a {
    /* Remove underline and color change for links in header and navigation */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from the parent (normal text color) */
}

/* Styling for when hovering over links in the navigation bar */
.navigation-box a:hover {
    /* On hover, do not change link colour for header or navigation */
    color: inherit; /* Inherit color from the parent (normal text color) */
    text-decoration: underline; /* Underline the link */
}

/* Additional styles for the thin green bar header */
.thin-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em; /* Adjust the height of the thin green bar */
    background-color: rgb(16, 117, 60);
    display: none;
    transition: height 0.3s ease; /* Add a smooth transition for height changes */
}

/* Show the thin green bar when the user scrolls down */
body.scrolled .thin-bar {
    display: block;
    height: 3em; /* Adjust the height to the desired final value */
}