<!--
    index.html - Home page for the Botanica website.

    This file extends the base layout and defines the content specific to the home page.

    Author: Leonard Lau
    Last Updated: 30/12/2023
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta information -->
</head>

<body>
    <!-- Content block that overrides the 'content' block in the base layout -->
    {% extends 'layouts/base.html' %}

    <!-- Dont add anything to the title -->
    {% block title %}{% endblock %}

    {% block content %}

    <!-- Main content for the home page -->
    <h1>Welcome to Botanica!</h1>
    <p>This is the home page of the Botanica website.</p>

    <p>Plants are the eukaryotes that form the kingdom Plantae; they are predominantly photosynthetic. This means that they obtain their energy from sunlight, using chloroplasts derived from endosymbiosis with cyanobacteria to produce sugars from carbon dioxide and water, using the green pigment chlorophyll. Exceptions are parasitic plants that have lost the genes for chlorophyll and photosynthesis, and obtain their energy from other plants or fungi.
    </p>
    </p>Historically, as in Aristotle's biology, the plant kingdom encompassed all living things that were not animals, and included algae and fungi. Definitions have narrowed since then; current definitions exclude the fungi and some of the algae. By the definition used in this article, plants form the clade Viridiplantae (green plants), which consists of the green algae and the embryophytes or land plants (hornworts, liverworts, mosses, lycophytes, ferns, conifers and other gymnosperms, and flowering plants). A definition based on genomes includes the Viridiplantae, along with the red algae and the glaucophytes, in the clade Archaeplastida.
    </p>
    </p>There are about 380,000 known species of plants, of which the majority, some 260,000, produce seeds. They range in size from single cells to the tallest trees. Green plants provide a substantial proportion of the world's molecular oxygen; the sugars they create supply the energy for most of Earth's ecosystems; other organisms, including animals, either consume plants directly or rely on organisms which do so.
    </p> 
    </p>Grain, fruit, and vegetables are basic human foods and have been domesticated for millennia. People use plants for many purposes, such as building materials, ornaments, writing materials, and, in great variety, for medicines. The scientific study of plants is known as botany, a branch of biology.
    </p>

    <!-- Image of a monstera deliciosa from the static folder -->
    <!-- 
    NOTE: url_for is a Flask function which dynamically generates links
    in a way that is flexible and maintainable
    Basic syntax: url_for(endpoint, **values) 
    -->
    <img src="{{ url_for('static', filename='img/monstera-deliciosa.jpg') }}" 
        alt="Monstera Deliciosa"
        width="1000"
        height=auto />

    {% endblock %}
</body>

</html>