<!--
    header.html - Header section for the Botanica website.

    This file defines the header content, including the site name and a link to the home page.

    Author: Leonard Lau
    Last Updated: 30/12/2023
-->
<div class="header-box">
    <!-- Header content -->
    <div class="Header">
        <a href="{{ url_for('home') }}">
            <span class="logo-text">Botanica</span>
            <img src="{{ url_for('static', filename='img/logo150.png') }}" 
                alt="Botanica logo", class="logo-icon">
        </a>
    </div>
    <!-- When scrolling down from the top, the header will be reduced to a minimised header bar-->
    <div id="header-scroll" class="minimised-header">
        <a href="{{ url_for('home') }}">
            <span class="logo-text">Botanica</span> <!-- Could remove this part -->
            <img src="{{ url_for('static', filename='img/logo150.png') }}" 
                alt="Botanica logo", class="logo-icon">
        </a>
    </div>
</div>