<!--
    header.html - Header section for the Botanica website.

    This file defines the header content, including the site name and a link to the home page.

    Author: Leonard Lau
    Last Updated: 30/12/2023
-->
<div class="header-box">
    <!-- Header content -->
    
    <!-- Three-bar menu icon -->
    <!-- NOTE: This is an HTML entity, alternatively could use an image -->
    <div class="menu-icon">&#9776;</div>

    <div class="Header">
        <!-- Whole logo (text and icon) is a link to the home page -->
        <a href="{{ url_for('home') }}">
            <span class="logo-text">Botanica</span> <!--Text part of the logo-->
            <img src="{{ url_for('static', filename='img/logo150.png') }}"
                alt="Botanica logo", class="logo-icon"> <!--icon part of the logo-->
        </a>
    </div>

    <!-- When scrolling down from the top, the header will be reduced to a minimised header bar-->
    <div id="header-scroll" class="minimised-header">

        <!-- Logo, including text and icon, for the minimised header -->
        <div class="minimised-logo">
            <a href="{{ url_for('home') }}">
                <span class="logo-text">Botanica</span> <!-- Could remove this part -->
                <img src="{{ url_for('static', filename='img/logo150.png') }}" 
                    alt="Botanica logo", class="logo-icon">
            </a>
        </div>
    </div>

    <!-- Menu bar (initially hidden) -->
    <div class="menu-bar">
        <!-- Add menu items here later -->
    </div>

    <!-- Overlay for dimming effect -->
    <div class="overlay"></div>
    
</div>