<!--
    header.html - Header section for the Botanica website.

    This file defines the header content, including the site name and a link to the home page.

    Author: Leonard Lau
    Last Updated: 9/01/2023
-->
<div class="header-box">
    <!-- Header content -->

    <!-- Three-bar menu icon -->
    <!-- NOTE: This is an HTML entity, alternatively could use an image -->
    <div class="menu-icon">&#9776;</div>

    <div class="regular-header">
        <!-- Regular header (header shown when at top of page) -->
        <div class="Header">

            <!-- First third of the regular header-->
            <div class="regular-header-third">
                <!-- 
                    Currently empty space. 
                    The point of this is that I am separating the regular header into three
                    different sections, using flexbox. This is the space which the menu bar
                    occupies, and the reason that I am not putting the menu bar here (which 
                    is a viable option if I want to do that later), is that I want the menu bar
                    to also be in the minimised header, so it needs to not be part of the 
                    regular header (if I did that I would need a separate menu bar for that)
                -->
            </div>

            <!-- The logo (text+icon) for the regular header -->
            <div class="header-logo">
                <!-- Whole logo is a link to the home page -->
                <a href="{{ url_for('main.home') }}">

                    <span class="logo-text">Botanica</span> <!--Text part of the logo-->

                    <img src="{{ url_for('static', filename='img/logo150.png') }}"
                        alt="Botanica logo", class="logo-icon"> <!--icon part of the logo-->

                </a>
            </div>

            <!-- Link to the login page -->
            <span class="login-button">
                <div class="login-text">
                    <a href="{{ url_for('main.login') }}">
                        Login
                    </a>
                </div>
            </span>
            
        </div>
    </div>

    <!-- When scrolling down from the top, the header will be reduced to a minimised header bar-->
    <div id="header-scroll" class="minimised-header">

        <!-- Logo, including text and icon, for the minimised header -->
        <div class="minimised-logo">

            <a href="{{ url_for('main.home') }}">

                <span class="logo-text">Botanica</span> <!-- Could remove this part -->

                <img src="{{ url_for('static', filename='img/logo150.png') }}" 
                    alt="Botanica logo", class="logo-icon">

            </a>

        </div>
    </div>

    <!-- 
        Menu bar (initially hidden), this is the menu that pops up after pressing 
        the menu icon button 
    -->
    <div class="menu-bar">
        <!-- Add menu items here later -->
    </div>

    <!-- Overlay for dimming effect -->
    <div class="overlay"></div>
    
</div>